* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

i{
    font-size: 1.5em;
}

ul{
    padding: 0;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

.nav-btn{
    margin-left: 0.4em;
    color: white;
    display: none;
}

.nav__overlay{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgb(97, 92, 92);
    opacity: 0.4;
    display: none;
    animation: fadeIn linear 0.4s;
}

.nav__input:checked ~ .nav__overlay{
    display: block;
}

.nav__mobile{
    position: fixed;
    top: 0;left: 0;bottom: 0;
    background-color: white;
    width: 40vw;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.4s;
}

.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
    opacity: 1;
}

.nav__mobile-x{
    position: absolute;
    top: 1em;right: 1em;
    cursor: pointer;
    font-weight: lighter;
    font-size: 1.3em;
}

.nav__mobile-list{
    list-style: none;
    margin: 4em 0 0 1em;
}

.nav__mobile-link{
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 2em;
    padding:0.4em;
    color: #666;
}

.nav__mobile-link:hover {
    color: #333;
}

/* responsive */

@media screen and (max-width: 1023px) {
    .nav__pc{
        display: none;
    }
    .nav-btn{
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}